.header-icon {
  display: none;
}

.header-content {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: #fff;
}

.header-container {
  margin: 0 auto;
  max-width: 1546px;
}

.header-logo-menu {
  padding: 0px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-family: "Jura";
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 95px;
  background: linear-gradient(82.77deg, #7b2dfb -14%, #364aff 110.05%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 40px;
}

.header-nav-menu-focus,
.header-nav-menu {
  display: inline-block;
  padding: 0 30px;
  text-transform: capitalize;
  font-family: "Jura";
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
}

.header-nav-menu a {
  color: #000;
  text-decoration: none;
}

.header-nav-menu-focus a {
  color: #7f5cfc;
}

.header-nav-menu-language {
  position: relative;
  display: inline-block;
  padding: 0 30px;
  font-family: "Jura";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
}

.header-nav-menu-language:hover {
  cursor: pointer;
}

.menu-languages {
  position: absolute;
  top: 50px;
  left: 26px;
  padding: 16px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #ccc;
  box-shadow: 0px 0px 5px 0px #000;
  z-index: 3;
}

.button-sing-in {
  display: inline-block;
  font-family: "Jura";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  color: #ffffff;
  background: linear-gradient(82.98deg, #622aea 0.64%, #1a1ffb 100%);
  box-shadow: 0px 0px 23px rgba(152, 136, 251, 0.66);
  border-radius: 5px;
  padding: 12px 38px;
  text-transform: uppercase;
}

.header-search {
  position: relative;
  display: flex;
  justify-content: flex-end;
  max-width: 1520px;
  margin: auto;
}

.header-search-content {
  padding: 0 16px;
  margin: 0 -16px;
  padding-top: 100px;
}

.search-input {
  padding: 18px 81px 18px 16px;
  border-radius: 5px;
  min-width: 426px;
  font-family: "Jura";
  font-weight: 600;
  font-size: 20px;
  color: #868686;
  background: #e0e0e0;
  border: none;
}
.search-input:focus {
  outline: none;
}

.search-icon {
}

.header-search-icon {
  position: absolute;
  right: 0px;
  background: linear-gradient(82.98deg, #622aea 0.64%, #1a1ffb 100%);
  box-shadow: inset 0px 3px 3px 1px rgba(152, 136, 251, 0.2);
  border-radius: 5px;
  padding: 17px 27px;
}

@media only screen and (max-width: 2561px) {
  .header-container {
    /* padding: 0 521px; */
  }
}

@media only screen and (max-width: 1440px) {
  .header-container {
    margin: 0 auto;
    max-width: 1230px;
  }
  .header-container {
    /* padding: 0 120px; */
  }
  .header-nav-menu-language,
  .header-nav-menu-focus,
  .header-nav-menu {
    font-size: 22px;
    padding: 0 20px;
  }

  .icon-down {
    width: 16px;
  }

  .button-sing-in {
    font-size: 20px;
    padding: 6px 20px;
  }

  .header-search {
    max-width: 1200px;
  }

  .search-input {
    min-width: 360px;
    font-size: 16px;
  }

  .header-search-icon {
    width: 70px;
    padding: 17px 25px;
  }
}

@media only screen and (max-width: 1281px) {
  .header-container {
    margin: 0 auto;
    max-width: 1045px;
  }
  .header-nav-menu-focus,
  .header-nav-menu,
  .header-nav-menu-language {
    font-size: 20px;
    padding: 0 20px;
  }

  .button-sing-in {
    font-size: 16px;
    padding: 4px 14px;
  }

  .icon-down {
    width: 16px;
  }

  .menu-languages {
    font-size: 16px;
    padding: 10px;
    top: 42px;
    left: 14px;
  }

  .header-search {
    max-width: 1015px;
  }

  .search-input {
    font-size: 13px;
    padding: 13px 76px 13px 11px;
    min-width: 310px;
  }

  .header-search-icon {
    width: 54px;
    padding: 13px 19px;
  }
}

@media only screen and (max-width: 1025px) {
  .header-container {
    margin: 0 auto;
    max-width: 841px;
  }
  .header-search {
    max-width: 811px;
  }

  .header-nav-menu-focus,
  .header-nav-menu,
  .header-nav-menu-language {
    font-size: 14px;
    padding: 0 14px;
  }

  .button-sing-in {
    font-size: 12px;
    padding: 1px 7px;
  }

  .header-container {
    /* padding: 0 108px; */
  }

  .menu-languages {
    font-size: 12px;
    padding: 8px;
    left: 9px;
  }
  .icon-down {
    width: 12px;
  }

  .header-logo {
    font-size: 60px;
  }

  .search-input {
    font-size: 11px;
    padding: 10px 73px 10px 13px;
    min-width: 222px;
  }

  .header-search-icon {
    width: 54px;
    padding: 8px 19px;
  }
}

@media only screen and (max-width: 769px) {

  .header-search {
    max-width: 600px;
  }
  .header-logo-menu {
    border-bottom: 1px solid #ddd;
  }

  .header-icon {
    display: block;
  }
  .icon-menu {
    font-size: 30px;
    border: 1px solid #000;
    padding: 5px;
    border-radius: 5px;
    color: #ccc;
    /* box-shadow: 1px 1px 1px 1px #000; */
  }

  .icon-menu:hover {
    box-shadow: 0px 0px 6px 0px #000;
  }

  .header-nav-menu-language,
  .header-nav-menu-focus,
  .header-nav-menu {
    display: block;
    font-size: 24px;
    padding: 24px;
    line-height: normal;
  }

  .header-nav-menu-focus a {
    text-decoration: none;
  }

  .button-sing-in {
    display: block;
    ext-align: center;
    width: 18%;
    font-size: 20px;
    padding: 12px 10px;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
    line-height: normal;
  }

  .header-menu {
    display: none;
  }

  .header-menu-open {
    padding: 16px;
    position: absolute;
    top: 70px;
    z-index: 2;
    background-color: #fff;
    width: 100%;
    left: 0px;
    text-align: center;
    border-top: 1px solid #ddd;
    /* border-radius: 5px; */
  }

  .header-logo {
    line-height: normal;
  }

  .menu-languages {
    font-size: 20px;
    padding: 12px;
    left: 42%;
    top: 66px;
    text-align: start;
  }

  .button-languages {
    padding: 8px 0;
  }

  .search-input {
    font-size: 16px;
    padding: 16px 59px 16px 19px;
    min-width: 306px;
  }

  .header-search-icon {
    width: 54px;
    padding: 14px 16px;
  }
}


@media only screen and (max-width: 426px) {
  .header-search {
    max-width: 400px;
  }

}