.about-introduce-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.about-title {
  font-family: "Jura";
  font-weight: 700;
  font-size: 60px;
  line-height: 71px;
  text-transform: uppercase;
  color: #6b3cfb;
  max-width: 876px;
  /* position: absolute; */
}

.introduce-content-left li {
  font-family: "Jura";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 50px;
  color: #000000;
  /* padding: 5px 0; */
  padding-bottom: 10px;
}

.introduce-content-left {
  max-width: 531px;
  padding-left: 30px;
}

.introduce-content-left > li {
}

@media only screen and (max-width: 1441px) {
  .introduce-container {
    padding: 0 16px;
  }
  .about-title {
    font-size: 50px;
  }

  .services-intro {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media only screen and (max-width: 1281px) {

  .about-introduce-content {
    padding-bottom: 32px;
  }
  .introduce-content-left li {
    font-size: 24px;
    line-height: 40px;
  }

  .about-title {
    font-size: 40px;
    line-height: 60px;
  }

  .services-intro {
    font-size: 48px;
  }
}

@media only screen and (max-width: 1025px) {
  .introduce-container {
    padding: 0 16px;
  }
  .about-title {
    font-size: 50px;
    /* padding: 0 16px; */
  }

  .introduce-content-left li {
    font-size: 25px;
    line-height: 27px;
  }
}

@media only screen and (max-width: 769px) {
  .about-title {
    font-size: 42px;
    line-height: normal;
    text-align: center;
  }

  .about-introduce-content {
    display: block;
    padding: 0 16px;
  }

  .intro-about-img {
    position: absolute;
    top: 270px;
  }

  .introduce-content-left {
    max-width: none;
    padding-top: 510px;
    padding-bottom: 24px;
  }
}

@media only screen and (max-width: 426px) {
  .about-title {
    font-size: 30px;
    line-height: normal;
    text-align: center;
  }

  .about-introduce-content {
    display: block;
    padding: 0 16px;
  }

  .intro-about-img {
    position: absolute;
    top: 270px;
  }

  .introduce-content-left {
    padding-top: 277px;
    padding-bottom: 24px;
  }
}

@media only screen and (max-width: 415px) {
  .about-title {
    font-size: 30px;
    line-height: normal;
    text-align: center;
  }

  .about-introduce-content {
    display: block;
    padding: 0;
  }

  .intro-about-img {
    position: absolute;
    top: 270px;
  }

  .introduce-content-left {
    padding-top: 277px;
    padding-bottom: 24px;
  }
}
