.info-content {
  max-width: 1520px;
  margin: auto;
}
.info-title {
  font-family: "Jura";
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 95px;
  background: linear-gradient(82.77deg, #7b2dfb -14%, #364aff 110.05%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.info-address {
  font-family: "Jura";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  color: #6b3cfb;
  padding-top: 13px;
}

.info-phone-content,
.info-email-content,
.info-address-content {
  font-family: "Jura";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  color: #1f1a79;
}
.info-address-content {
  padding-top: 10px;
}

.info-email-phone {
  padding-top: 17px;
  display: flex;
  text-align: center;
  align-items: center;
  padding-bottom: 83px;
}

.info-email,
.info-phone {
  font-family: "Jura";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  color: #6b3cfb;
}

.info-phone-content,
.info-email-content {
  padding-left: 10px;
}

.info-phone {
  padding-left: 23px;
}

.info-map {
  position: relative;
  padding-bottom: 88px;
}

.info-overlay {
  position: absolute;
}

@media only screen and (max-width: 1441px) {
  .info-content {
    padding-left: 16px;
    padding-right: 16px;
  }
  .info-map-img {
    width: 1413px;
  }

  .info-overlay {
    width: 1413px;
  }
}

@media only screen and (max-width: 1281px) {
  .info-overlay {
    width: 100%;
  }

  .info-map-img {
    width: 100%;
  }

  .info-title {
    font-size: 40px;
  }

  .info-phone-content,
  .info-email-content,
  .info-address-content,
  .info-email,
  .info-phone .info-address {
    font-size: 24px;
  }

  .info-email-phone {
    padding-bottom: 16px;
  }

  .info-map {
    padding-bottom: 16px;
  }
}

@media only screen and (max-width: 1025px) {
  .info-content {
    padding-left: 16px;
    padding-right: 16px;
  }

  .info-map-img {
    width: 997px;
  }

  .info-overlay {
    width: 997px;
  }
}

@media only screen and (max-width: 769px) {
  .info-content {
    padding: 0 16px;
  }
  .info-title {
    font-size: 30px;
    line-height: normal;
    text-align: center;
  }

  .info-address {
    font-size: 25px;
    line-height: normal;
    /* text-align: center; */
  }

  .info-email-phone {
    display: block;
    text-align: start;
    padding-bottom: 16px;
  }
  .info-address-content,
  .info-phone,
  .info-phone-content,
  .info-email-content {
    font-size: 25px;
    line-height: normal;
    padding: 0;
  }
  .info-overlay,
  .info-map-img {
    width: 727px;
  }

  .info-map {
    padding-bottom: 16px;
  }

  .info-email-content {
    padding-bottom: 16px;
  }
}

@media only screen and (max-width: 426px) {
  .info-content {
    padding: 0 16px;
  }
  .info-title {
    font-size: 30px;
    line-height: normal;
    text-align: center;
  }

  .info-address {
    font-size: 25px;
    line-height: normal;
    /* text-align: center; */
  }

  .info-email-phone {
    display: block;
    text-align: start;
    padding-bottom: 16px;
  }
  .info-address-content,
  .info-phone,
  .info-phone-content,
  .info-email-content {
    font-size: 25px;
    line-height: normal;
    padding: 0;
  }
  .info-overlay,
  .info-map-img {
    width: 387px;
  }

  .info-map {
    padding-bottom: 16px;
  }

  .info-email-content {
    padding-bottom: 16px;
  }
}

@media only screen and (max-width: 415px) {
  .info-content {
    padding: 0 16px;
  }
  .info-title {
    font-size: 30px;
    line-height: normal;
    text-align: center;
  }

  .info-address {
    font-size: 25px;
    line-height: normal;
    /* text-align: center; */
  }

  .info-email-phone {
    display: block;
    text-align: start;
    padding-bottom: 16px;
  }
  .info-address-content,
  .info-phone,
  .info-phone-content,
  .info-email-content {
    font-size: 25px;
    line-height: normal;
    padding: 0;
  }
  .info-overlay,
  .info-map-img {
    width: 387px;
  }

  .info-map {
    padding-bottom: 16px;
  }

  .info-email-content {
    padding-bottom: 16px;
  }
}
