.NeededFeatures-container {
  padding-top: 74px;
}
.NeededFeatures-content {
  padding-bottom: 34px;
}
.NeededFeatures-content-slide {
  background-image: url("../../../accsets/img/backgroundFeatures.png");
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}
.NeededFeatures-content-video {
  background-position: top;
  background-repeat: no-repeat;
  text-align: center;
}

.slide-content-title {
  text-align: center;
  padding-top: 228px;
}

.slide-title {
  font-family: "Jura";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 95px;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 0px 10px #ffffff;
  padding-bottom: 23px;
}

.slide-video {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1417px;
  margin: auto;
  padding-left: 30px;
}

.slide-content {
  max-width: 1400px;
  margin: auto;
  padding-top: 182px;
}

.NeededFeatures-content-video p {
  font-family: "Jura";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 95px;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 23px;
}

.NeededFeatures-content-video img {
  width: 633px;
}

.NeededFeatures-content-background1 {
  width: 1920px;
}

.NeededFeatures-content-paragraph {
  max-width: 1520px;
  margin: auto;
  padding-top: 57px;
}

.NeededFeatures-content-paragraph li {
  font-family: "Jura";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
  padding-bottom: 40px;
}

@media only screen and (max-width: 1441px) {
  .slide-title {
    font-size: 70px;
  }

  .slide-content-title {
    padding-top: 157px;
  }

  .slide-video {
    justify-content: center;
  }

  .video1 {
    width: 466px;
    padding-left: 10px;
  }

  .video2 {
    width: 415px;
    padding-left: 10px;
  }

  .arrowNext {
    width: 50px;
  }

  .slide-content {
    max-width: 1059px;
    padding-top: 92px;
  }

  .NeededFeatures-content-paragraph li {
    font-size: 20px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 1281px) {
  .NeededFeatures-container {
    /* max-width: 1015px;
    margin: auto; */
  }

  .NeededFeatures-content {
    /* padding: 0 16px;
    margin: 0 -16px; */
  }

  .slide-title {
    font-size: 60px;
    padding-bottom: 0;
  }

  .slide-content-title {
    padding-top: 115px;
  }

  .video1 {
    width: 400px;
    padding-left: 10px;
  }
  .video2 {
    width: 354px;
    padding-left: 10px;
  }

  .arrowNext {
    width: 40px;
  }

  .slide-video {
    justify-content: space-evenly;
    max-width: 900px;
    margin: auto;
    padding-left: 0;
    padding-top: 16px;
  }

  .slide-content {
    max-width: 880px;
    padding-top: 167px;
  }

  .NeededFeatures-content-paragraph {
    max-width: none;
    padding: 0 16px;
    margin: 0 -16px;
  }

  .NeededFeatures-content-paragraph li {
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 33px;
  }
}

@media only screen and (max-width: 1025px) {
  .slide-title {
    font-size: 40px;
  }
  .slide-content-title {
    padding-top: 73px;
  }

  .video1 {
    width: 350px;
  }

  .video2 {
    width: 310px;
  }

  .slide-video {
    max-width: 737px;
  }

  .slide-content {
    max-width: 720px;
    padding-top: 114px;
  }

  .NeededFeatures-content-paragraph li {
    font-size: 16px;
    line-height: 10px;
  }
}

@media only screen and (max-width: 769px) {
  .slide-content-title {
    padding: 0;
  }
  .slide-title {
    font-size: 30px;
    padding: 0;
    padding-top: 44px;
  }
  .video1 {
    width: 250px;
    padding-left: 10px;
  }
  .video2 {
    width: 220px;
    padding-left: 10px;
  }
  .arrowNext {
    width: 30px;
  }
  .slide-video {
    justify-content: center;
    padding: 0;
  }
  .slide-content {
    padding: 0;
  }

  .NeededFeatures-content-paragraph {
    padding-top: 93px;
    padding-left: 115px;
    max-width: 700px;
  }

  .NeededFeatures-content-paragraph li {
    font-size: 16px;
    line-height: normal;
    padding-bottom: 16px;
  }
}

@media only screen and (max-width: 426px) {
  .slide-content-title {
    padding: 0;
  }
  .slide-title {
    font-size: 20px;
    padding: 0;
    height: 70px;
  }
  .video1 {
    width: 170px;
  }
  .video2 {
    display: none;
  }
  .arrowNext {
    width: 20px;
  }
  .slide-video {
    justify-content: center;
    padding: 0;
  }
  .slide-content {
    padding: 0;
  }

  .NeededFeatures-content-paragraph {
    padding-top: 42px;
    max-width: 400px;
    padding-left: 92px;
  }

  .NeededFeatures-content-paragraph li {
    font-size: 10px;
    line-height: normal;
    padding-bottom: 10px;
  }
}
@media only screen and (max-width: 415px) {
  /* .slide-content-title {
    padding: 0;
  }
  .slide-title {
    font-size: 24px;
    padding: 0;
  }
  .video1 {
    width: 170px;
  }
  .video2 {
    display: none;
  }
  .arrowNext {
    width: 20px;
  }
  .slide-video {
    justify-content: center;
    padding: 0;
  }
  .slide-content {
    padding: 0;
  }

  .NeededFeatures-content-paragraph {
    padding-top: 10px;
  }

  .NeededFeatures-content-paragraph li {
    font-size: 10px;
    line-height: normal;
    padding-bottom: 10px;
    padding-left: 50px;
  } */
}
