.introduce-content-img {
  position: relative;
}

.introduce-content-img-background {
  position: relative;
  position: absolute;
  right: 0;
  bottom: 4px;
}

.introduce-content-img-content {
  height: 539px;
  width: 849px;
}

@media only screen and (max-width: 1441px) {
  .introduce-content-img-background {
    width: 600px;
    height: 100%;
  }

  .introduce-content-img-content {
    height: 100%;
    width: 600px;
  }
}

@media only screen and (max-width: 1280px) {
  .introduce-content-img-background {
    width: 500px;
    height: 100%;
  }

  .introduce-content-img-content {
    height: 100%;
    width: 500px;
  }
}

@media only screen and (max-width: 1025px) {
  .introduce-content-img-content {
    width: 450px;
    height: 100%;
  }

  .introduce-content-img-background {
    width: 450px;
    height: 100%;
  }
}

@media only screen and (max-width: 769px) {
  .introduce-content-img-content {
    width: 600px;
    /* height: 100%; */
  }

  .introduce-content-img-background {
    width: 600px;
    height: 100%;
  }
}

@media only screen and (max-width: 426px) {
  .introduce-content-img-content {
    width: 400px;
    height: 100%;
  }

  .introduce-content-img-background {
    width: 400px;
    height: 100%;
  }
}

@media only screen and (max-width: 415px) {
  .introduce-content-img-content {
    width: 383px;
    height: 100%;
  }

  .introduce-content-img-background {
    width: 383px;
    height: 100%;
  }
}
